#contact-front {
    color:  white;
    background-color: #FA7649;
}

#contact-back {
    color: white;
    background-color: dodgerblue;
}

#resume-front {
    color: #38359D;
    background-color: #CDCBF5;
}

#resume-back {
    color: white;
    background-color: dodgerblue;
}
