@font-face {
    font-family: Akira-Expanded;
    src: url('../../fonts/Akira-Expanded/Akira-Expanded.otf')
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: "Akira-Expanded";
    background: #e3e3e3;
}

h1 {
    position: absolute;
    top: 38%;
    left: 50%;
    font-size: 10rem;
    transform: translate(-50%, -50%);
    color: #e3e3e3;
}

@media only screen {
    @media (max-width: 1300px){
        h1 {
            font-size: 8rem;
        }
    }

    @media (max-width: 1200px) {
        h1 {
            font-size: 7rem;
        }
    }

    @media (max-width: 1000px) {
        h1 {
            font-size: 6rem;
        }
    }

    @media (max-width: 800px) {
        h1 {
            font-size: 5rem;
        }
    }

    @media (max-width: 640px) {
        h1 {
            font-size: 4rem;
        }
    }

    @media (max-width: 500px) {
        h1 {
            font-size: 3rem;
        }
    }

    @media (max-width: 400px) {
        h1 {
            font-size: 2rem;
        }
    }
}

@keyframes loading {
    from { max-width: 0; }
}


h1:before {
	content: attr(data-content);
	position: absolute;
	overflow: hidden;
	max-width: 8em;
	color: #101010;
    animation: loading 1.5s ease-out;
	/*animation: loading 1s cubic-bezier(0.47, 2.02, 0.31, -0.36); */
}


.p {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}