@keyframes slideInFromLeft {
    0% {
        clip-path: polygon(0 0, 0 100%, 0 100%, 0 0);
    }
    100% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

.animatedLetter {
    display: inline-block;
    animation: slideInFromLeft 1s ease-in-out;
}

.root {
    background-color: #e1dfdd;
    width: 100vw;
    height: 100vh;

    .desktop {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 1rem 1rem 1rem;

        .top {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 50vh;

            .name {

                font-size: max(min(28vh, 13vw));
                line-height: max(min(24vh, 15vw));
                word-wrap: break-word;
                text-align: justify;

                max-width: 80vw;

                @media only screen and (max-width: 600px) {
                    font-size: 20vw;
                    line-height: 20vw;
                }
                
                @media only screen and (max-width: 768px) {
                    max-width: 75%;
                }

                .krishna {
                    display: "inline-block";
                }

                .chandran {
                    display: 'inline-block';
                }
            }

            .details {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-end;
                font-size: max(min(10vh, 1.5vw), 0.75rem);
                text-transform: uppercase;
            }
        }
        .bottom {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 50vh;

            .about {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                max-width: 20%;
                .description {
                    font-weight: bold;
                    font-size: max(min(8vh, 1.5vw), 0.75rem);

                    @media only screen and (max-width: 600px) {
                        font-size: 3vw;
                    }
                }
                .arrowdown {
                    padding: 4vmin;
                    border-radius: 50%;
                    background: white;
                }
            }

            .profession {
                font-size: max(min(28vh, 13vw));
                line-height: max(min(24vh, 13vw));
                word-wrap: break-word;

                max-width: 80%;

                @media only screen and (max-width: 600px) {
                    font-size: 20vw;
                    line-height: 20vw;
                }

                @media only screen and (max-width: 768px) {
                    max-width: 75%;
                }

                .creative {
                    display: "block";
                }

                .developer {
                    display: "block";
                }
            }
        }
    }
}