.root {
    margin-top: 0.5rem;
    background-color: #e1dfdd;
    width: 100vw;
    height: 100vh;

    .desktop {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;

        .top {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 50vh;
            font-family: 'Roboto-Regular';

            .name {

                font-size: max(min(30vh, 15vw));
                line-height: max(min(24vh, 15vw));
                word-wrap: break-word;
                font-weight: bold;
                text-align: justify;

                max-width: 80vw;

                @media only screen and (max-width: 600px) {
                    font-size: 20vw;
                    line-height: 20vw;
                }
                
                @media only screen and (max-width: 768px) {
                    max-width: 75%;
                }

            }

            .details {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-end;
                font-family: 'Rethink-Sans';
                font-size: max(min(10vh, 2.5vw), 0.75rem);
                font-weight: bold;
            }
        }
        .bottom {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 50vh;
            font-family: 'Roboto-Regular';

            .about {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                .description {
                    font-weight: bold;
                    font-size: max(min(8vh, 2.0vw), 0.75rem);

                    @media only screen and (max-width: 600px) {
                        font-size: 3vw;
                    }
                }
                .arrowdown {
                    padding: 4vmin;
                    border-radius: 50%;
                    background: white;
                }
            }

            .profession {
                font-size: max(min(30vh, 13vw));
                line-height: max(min(24vh, 13vw));
                word-wrap: break-word;
                font-weight: bold;

                max-width: 80%;

                .c {
                    font-family: 'Roboto-Regular-Italic';
                }

                @media only screen and (max-width: 600px) {
                    font-size: 20vw;
                    line-height: 20vw;
                }

                @media only screen and (max-width: 768px) {
                    max-width: 75%;
                }
            }
        }
    }
}