@font-face {
  font-family: 'TheNextFont';
  src: url('./../assets/fonts/TheNextFont.ttf') format('truetype');
}

.profession-container {
    background-color: black;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
    max-width: 100vw;
}

.profession {
    font-size: 10vh;
    font-family: 'TheNextFont';
    background-image: url(./../assets/images/profession-bg.jpg);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.name {
    font-size: 4vh;
    font-family: 'TheNextFont';
    background-image: url(./../assets/images/name-bg.jpg);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

#my-name {
    color: white
}