@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@font-face {
    font-family: 'Poppins-Medium';
    src: url(./../assets/fonts/Poppins-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'BebasNeue-Regular';
    src: url('./../assets/fonts/BebasNeue-Regular.ttf') format('truetype');
}

.root {
  font-size: 2rem;
  position: sticky;
  font-family: 'BebasNeue-Regular';
  font-weight: bold;
  color: white;
  /*font-family: 'Potta One', cursive;*/
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin: 0vw;
  padding: 0;
  mix-blend-mode: difference;
  z-index: 1000;

  @mixin navLink {
    position: relative;
    text-decoration: none;
    /*
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding:10px;
    */
    &:after {
      content: "";
      position: absolute;
      background-color: white;
      height: 3px;
      width: 0;
      left: 0;
      right: 0;
      bottom: 1px;
      transition: 0.3s;
    }
    &:hover {
      cursor: pointer;
      color: white;
    }
    &:hover:after {
      width: 100%;
      cursor: pointer;
      }
  }

  .largeScreen {
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    left: 0;
    flex-direction: row;
    padding-right: 4vh;
    padding-left: 2vh;
    justify-content: space-between;
    /*
    backdrop-filter: blur(10px);
    -webkit-mask: linear-gradient(0deg, transparent, black 50%);
    */

    .topLeft {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    .topRight {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 5vw;

      .about {
        @include navLink;
      }

      .contact {
        @include navLink;
      }

      .resume {
        @include navLink;
      }
    }
  }

  @media only screen and (min-width: 640px) {
    .smallScreen {
      display: none;
    }
  }

  @media only screen and (max-width: 640px) {
    .largeScreen {
      justify-content: space-between;

      .about,
      .resume {
        display: none;
      }
    }

    .smallScreen {
      padding-right: 2vh;
      position: fixed;
      bottom: 0;
      right: 0;
      left: 0;
      /*
      backdrop-filter: blur(10px);
      -webkit-mask: linear-gradient(180deg, transparent, black 50%);
      */

      .bottom {
        display: flex;
        justify-content: space-around;
        padding-left: 2vh;

        .about {
          @include navLink;
        }
          
        .resume {
          @include navLink;
        }
      }
    }
  }
}
