@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@font-face {
    font-family: 'Poppins-Medium';
    src: url(./../assets/fonts/Poppins-Medium.ttf) format('truetype');
}

.root {
  font-size: 1rem;
  font-family: 'Poppins-Medium';
  font-weight: bold;
  /*font-family: 'Potta One', cursive;*/
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin: 0vw;
  padding: 0;

  p {
    background-image: url(https://cdn.jsdelivr.net/gh/krishnachandran-u/assets@main/portfolio/images/pinkStrokes.jpeg);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  .largeScreen {
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    left: 0;
    flex-direction: row;
    padding-right: 4vh;
    padding-left: 2vh;
    justify-content: space-between;

    .topLeft {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    .topRight {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 5vw;
    }
  }

  @media only screen and (min-width: 640px) {
    .smallScreen {
      display: none;
    }
  }

  @media only screen and (max-width: 640px) {
    .largeScreen {
      justify-content: space-around;

      .about,
      .resume {
        display: none;
      }
    }

    .smallScreen {
      margin-right: 2vh;
      position: fixed;
      bottom: 0;
      right: 0;
      left: 0;

      .bottom {
        display: flex;
        justify-content: space-around;
        padding-left: 2vh;
      }
    }
  }
}
