@font-face {
  font-family: 'TheNextFont';
  src: url('./../assets/fonts/TheNextFont.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('./../assets/fonts/Poppins-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'PottaOne-Regular';
    src: url('./../assets/fonts/PottaOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'BebasNeue-Regular';
    src: url('./../assets/fonts/BebasNeue-Regular.ttf') format('truetype');
}

.root {
    display: flex;
    flex-direction: column;
    font-family: 'BebasNeue-Regular';
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100vw;
    height: 100vh;

    h1 {
        margin: 0;
        padding: 0;
    }

    h2 {
        margin: 0;
        padding: 0;
        color: black;
    }

    .nameLine {
        margin: 1vh;
        display: flex;
        flex-direction: row;
    }

    .hi {
        background-image: url(https://cdn.jsdelivr.net/gh/krishnachandran-u/assets@main/portfolio/images/pinkTree.jpg);
        background-size: cover;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;        
    }

    .professionLine {
        text-align: center;
        font-size: 9vmax;
        color: black;
        /*
        background-image: url(https://cdn.jsdelivr.net/gh/krishnachandran-u/assets@main/portfolio/images/rollingTapes.jpg);
        background-size: cover;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;  
        */
    }

    .youNeed {
        display: flex;
        flex-direction: row;
        font-family: 'Poppins-Medium';
        color: white;
        gap: 6vw;
    }

    .developer {
        width: 40vw;
        height: 40px;
        max-width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background-color: white;
        font-weight: 1000;
        color: black;
        border: 1px solid white;
        border-radius: 5px;
    }

    .dataEngineer {
        width: 40vw;
        height: 40px;
        max-width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border: 1px solid white;
        border-radius: 5px;
    }

    .scrollDownParentDiv {
        margin: 0;
        padding: 0;
        transform: translateY(14vh);
        font-family: 'PottaOne-Regular';

        .scrollDown {
            margin: 0;
            padding: 0;
            max-height: 9vh;
            color: white;
            font-size: 8vmax;
            transform: rotate(180deg);
        }
    }
}

@media only screen and (min-width: 500px) {
    .root {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 500px) {
    .root {
        font-size: 3vw;
    }
}