.root {
    
    .main {
        display: flex;
        flex-direction: column;
        padding: 2vmin;
        gap: 1rem;
        .index {
            font-size: 3vmin;
        }
        .works {
            display: flex;
            flex-direction: column;
            .heading {
                font-weight: bold;
                font-size: 18vmin;
                line-height: 15vmin;
                font-family: 'Roboto-Regular';
            }

            .worksList {
                display: flex;
            }
        }
    }
}