.root {
    
    .main {
        display: flex;
        flex-direction: column;
        padding: 2vmin;
        gap: 1rem;
        .index {
            font-size: 3vmin;
        }
        .works {
            display: flex;
            flex-direction: column;
            .heading {
                font-size: 18vmin;
                line-height: 15vmin;
                text-align: center;
            }

            .worksList {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
        }
    }
}