.root {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .index {
        font-size: 3vmin;
        margin-left: 2vmin;
    }

    .main {
        display: flex;
        flex-direction: column;
        gap: 10vmin;

        .title {
            font-size: 18vmin;
            line-height: 15vmin;
            text-align: center;
        }
        .cards {
            display: flex;
            flex-direction: row;
            gap: 5vw;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }
}