.root {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    margin-top: 1rem;
    margin-bottom: 1rem;

    .main {
        display: flex;
        flex-direction: column;
        gap: 2vmin;

        .index {
            font-size: 2vmin;
        }

        .title {
            font-size: 3vmax;
        }

        .imageDiv {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .image {
                width: 90vmin;
                height: 50vmin;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
            }

        }

        .descriptionAndLink {
            display: flex;
            width: 90vmin;
            height: 4rem;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border-top: 2px dashed #000;
            border-bottom: 2px dashed #000; 
            text-transform: uppercase;

        }
    }
}