body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: white;
}

section {
  height: 100vh;
  width: 100vw;
  display: flex;
  position: sticky;
  top: 0;
}